* {
  margin : 999;
  padding : 15;


}

body{
  background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);


}

 h1{
  border: 10px solid transparent;
  border-radius: 0px;
  padding: 15px 30px ;
  border-image: url(images/border.png) 150 round;
  text-shadow: 3px 2px red;

}

.footer {
  position:sticky;
  left: 0;
  bottom: 0;
  width: 100%;
 <-- background-color: pink; -->
  color: white;
  text-align: center;
}

.image1{
   border-radius: 8px;
   max-width: 100%;
  height: auto;
}
.image1:hover {
  box-shadow: 0 0 5px 10px rgba(0, 140, 186, 0.5);
}

.header{
  position:sticky;
  font-size: 20px;
  width: 100%;
  < -- background-color: pink; -->
  color: white;
  text-align: center;
  style="font-family : Comic Sans MS, cursive, sans-serif"
  border-radius: 25px;

}
.header:visited{
  text-decoration: none;
}
.header:hover {
  box-shadow: 0 0 5px 10px rgba(3, 30, 87);
}
